:root {
   --text-color: #ff7b00;
   --bg-color: rgb(6, 129, 0);
   --accent-color: rgba(0, 255, 225, 0.502);
   --font-title: "bd-orange-variable", sans-serif;
   --font-text: "roboto-flex", sans-serif;
}

body {
   background-color: var(--bg-color);
   color: var(--text-color);
   font-family: var(--font-text);
   font-variation-settings: "wght" 150;
   font-size: 2rem;
   /* cambio global */

}

/* El título permanece centrado; el resto del contenido
         estará en un contenedor centrado en la página y texto alineado a la izquierda */
header h1 {
   text-align: center;
}

/* Centrar el contenedor en la página (vertical y horizontal) */
body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0;
}

main,
header,
footer {
   width: 100%;
   max-width: 960px;
   margin: 0 auto;
   padding: 0 2em;
}

h1,
h2,
h3,
h4 {
   font-family: var(--font-title);
   font-variation-settings: "wght" 700;
}

a {
   transition: all 120ms ease;
   font-variation-settings: 'opsz' 8, 'wght' 363, 'GRAD' 0, 'wdth' 118, 'slnt' 0, 'XOPQ' 96, 'YOPQ' 79, 'XTRA' 468, 'YTUC' 712, 'YTLC' 514, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}

a:hover {
   font-variation-settings: 'opsz' 8, 'wght' 300, 'GRAD' 0, 'wdth' 100, 'slnt' 0, 'XOPQ' 96, 'YOPQ' 79, 'XTRA' 468, 'YTUC' 712, 'YTLC' 514, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}

h1 {
   font-size: 4em;
}

h2 {
   font-size: 3em;
}

h3 {
   font-size: 2em;
}