
@font-face {
   font-family: "ABC";
   src: url("ABCFavoritExpandedVariable-Trial.ttf") format("truetype");
   font-weight: 400;
   font-style: normal;
}
@font-face {
    font-family: 'Camino';
    src: url('Camino-Regular.woff2') format('woff2'),
        url('Camino-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
:root {
   --text-color: #ea5c1c;
   --bg-color: #2e1b10;
   --blue: #9ed2bc;
   --accent-color: #bacf18;
   --font: "ABC", sans-serif;
   --font-title: "Camino", sans-serif;
}

* {
   box-sizing: border-box;
}

body {
   background-color: var(--bg-color);
   color: var(--text-color);
   font-size: 1rem;
   /* cambio global */
   font-family: var(--font);
   padding: 0;
   margin: 0;
}
header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1em;
   width: 100%;
}
#header-home {
   background-color: var(--text-color);
   width: 100%;
   color: var(--bg-color);
   margin: 0;
   padding: 1em;
}
#header-home p {
   margin: 0;
   font-size: 1.5rem;
   max-width: 640px;
}

h1, h2, h3 {
   font-family: var(--font-title);
   font-weight: 100;
   text-transform: uppercase;
}

h1 {
   text-align: center;
   color: var(--text-color);
   position: relative;
   margin: 0;
   font-size: 24vw;
}

h2 {
   font-size: 15vw;
   margin-bottom: 0;
   text-align: center;
   margin-top: 0;
}

nav {
   display: flex;
   justify-content: center;
   margin-top: 1em;
   float: right;
}
nav#nav-home {
   margin-top: 1em;
   float: right;
   width: 100%;
   display: flex;
   flex-direction: column;
}

a {
   color: var(--accent-color);
   text-decoration: none;
   font-size: 2em;
   margin: 0 10px;
   text-transform: uppercase;
}
nav#nav-home a {
   text-decoration: none;
   font-size: 3rem;
   margin: 0 10px;
   text-transform: uppercase;
   font-family: var(--font-title);
   display: block;
}
a#nosotras-link {
   color: var(--text-color);
}
a#nosotras-link:hover {
   color: var(--accent-color);
}
a#consejos-link {
   color: var(--text-color);
}
a#consejos-link:hover {
   color: var(--accent-color);
}
a#rutas-link {
   color: var(--text-color);
}
a#rutas-link:hover {
   color: var(--accent-color);
}
a#home-link {
   color: var(--text-color);
   font-size: 2rem;
   font-family: var(--font-title);
   text-transform: uppercase;
   transition: all 0.3s ease;
}
a#home-link:hover {
   color: var(--accent-color);
}
section {
   padding: 3em;
   margin: 3em;
   background-color: var(--blue);
   border-radius: 10px;
}

article
{
   margin-bottom: 20px;
   background-color: var(--accent-color);
   padding: 1rem;
}

p {
   max-width: 60ch;
   font-family: var(--font);
   font-size: 1.5rem;
}